.benefits {
    margin: 0 auto;
}

.benefit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 10px #222222;
    padding: 50px;
}

@media all and (max-width: 900px) {
    .benefit {
        flex-direction: column;
        padding: 20px;
    }
}

.benefit:last-child {
    border-bottom: solid 10px #222222;
}

.benefit-content {
    max-width: 30%;
}

.benefit-content, .benefit-img {
    margin: 0px 100px;
}

@media all and (max-width: 900px) {
    .benefit-content, .benefit-img {
        margin: unset;
    }
}

@media all and (max-width: 900px) {
    .benefit-content {
        max-width: unset;
        text-align: center;
    }
}

.benefit-content-title, .benefit-content-text {
    color: white;
}

.benefit-content-title {
    font-size: 40px;
}

@media all and (max-width: 900px) {
    .benefit-content-title {
        font-size: 25px;
    }
}

.benefit-content-text {
    font-size: 23px;
}

@media all and (max-width: 900px) {
    .benefit-content-text {
        font-size: 18px;
    }
}

.benefit-img img {
    max-width: 100%;
}

@media all and (max-width: 900px) {
    .benefit-img {
        order: 1;
    }
}