@import 'https://use.fontawesome.com/releases/v5.15.2/css/all.css';

body {
    margin: 0;
}

ul {
    display: inline-block;
}

a {
    border-radius: 50%;
    background: #EEEEEE;
    padding: 10px;
    margin: 5px;
}

li {
    list-style: none;
}