html {
    font-family: Helvetica, sans-serif;
}

body {
    background: rgb(238, 238, 238);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.part-one {
    
}

div {
    max-width: 30%;
    padding: 10px;
}

img {
    max-width: 100%;
}